.credit-card-options {
    // width: 350px;
    // height: 220px;
    >div {
        height: 100%;
    }
    >label {
        width: 100%;
        box-sizing: border-box;
    }
    .v-selectable-list>div {
        max-height: 180px;
    }
}