.datetime-options {
    >div {
        margin-top: 15px;
    }
    .v-selectable-list {
        >h4 {
            display: inline-block;
            width: 115px;
        }
        >div {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.datetime-options-modal {
    .v-options-wrapper>div {
        padding: 0;
    }
}

@media (min-width: 425px) {
    .datetime-options {
        .v-datetime-picker {
            display: inline-block;
            width: calc(50% - 10px);
            &:nth-child(even) {
                margin-left: 20px;
            }
        }
    }
}

@media (min-width: 325px) {
    .datetime-options {
        .v-checkbox {
            display: inline-block;
            width: calc(50% - 10px);
            &:nth-child(even) {
                margin-left: 20px;
            }
        }
    }
}