.phoneno-options {
    >div {
        margin-top: 15px;
    }
    .v-selectable-list:not(:first-child) {
        >h4 {
            display: inline-block;
            width: 100px;
        }
        >div {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .v-selectable-list:first-child {
        height: 170px;
    }
}

.phoneno-options-modal {
    .v-options-wrapper>div {
        padding: 0;
    }
}

@media (min-width: 400px) {
    .phoneno-options {
        .v-checkbox {
            display: inline-block;
            width: calc(34% - 10px);
            &:nth-child(even) {
                margin-left: 20px;
            }
        }
    }
}