$max-height: 300px;
.property-options-modal {
    .modal-dialog {
        margin: 30px auto;
    }
    .modal-body {
        position: relative;
        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 25px;
        }
    }
    h1 {
        font-size: 15px;
        line-height: 25px;
        margin: 0;
    }
    pre {
        max-height: $max-height;
        border: 1px solid #ddd;
        border-top: 0;
        border-radius: 0;
        background: transparent;
        margin-bottom: 20px;
    }
    table,
    th,
    td {
        border: 1px solid #ddd;
    }
    .table-container,
    .html-container {
        max-height: $max-height;
        overflow: auto;
    }
    table {
        border-collapse: collapse;
        margin: 10px auto;
        min-width: 300px;
        th,
        td {
            padding: 5px;
            text-align: left;
        }
    }
    .nav>li>a {
        padding: 4px 10px;
        font-size: 13px;
    }
    [role="tablist"] {
        // margin-top: 15px;
    }
}

.modal-dialog {
    .alphanumeric-options-modal & {
        width: 400px;
    }
    .city-options-modal & {
        width: 400px;
    }
    .creditcard-options-modal & {
        width: 350px;
    }
    .currency-options-modal & {
        width: 390px;
    }
    .gender-options-modal & {
        width: 350px;
    }
    .latlong-options-modal & {
        width: 350px;
    }
    .phoneno-options-modal & {
        width: 450px;
    }
    .password-options-modal & {
        width: 350px;
    }
    .personname-options-modal & {
        width: 360px;
    }
    .state-options-modal & {
        width: 350px;
    }
    .email-options-modal & {
        width: 300px;
    }
    .datetime-options-modal & {
        max-width: 510px;
    }
    .username-options-modal & {
        max-width: 300px;
    }
    .color-options-modal & {
        max-width: 300px;
    }
    .company-options-modal & {
        max-width: 300px;
    }
    .randomwords-options-modal & {
        max-width: 300px;
    }
    .randomnumber-options-modal & {
        max-width: 300px;
    }
}

.v-options {
    margin: 0;
    label {
        line-height: 30px;
    }
}