.property-form-container {
    max-width: 1024px;
    margin: 0 auto;
    > {
        h2 {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            padding: 5px 0 17px;
        }
        ul li {
            &:before,
            &:after {
                display: table;
                content: " ";
                width: 100%;
            }
            p {
                margin: 0 0 5px;
                clear: both;
                text-align: justify;
                color: red;
                font-size: 12px;
                line-height: 15px;
            }
            .form-control.invalid {
                border-color: red;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(200, 0, 0, .6);
            }
        }
        div,
        ul li {
            border-top: 1px solid #ddd;
            .form-col,
            .form-col-btns {
                vertical-align: middle;
            }
            .form-col {
                float: left;
                padding: 5px 10px 5px 0px;
                &:nth-child(1),
                &:nth-child(2) {
                    @media (max-width: 568px) {
                        width: 50%;
                    }
                    @media (max-width: 359px) {
                        width: 100%;
                    }
                }
                &:nth-child(3) {
                    @media (max-width: 568px) {
                        width: calc(100% - 90px);
                    }
                }
                @media (min-width: 569px) {
                    width: calc(33% - 30px);
                }
            }
            .form-col-btns {
                float: right;
                padding: 5px 0px;
                text-align: right;
                @media (min-width: 360px) {
                    width: 90px;
                }
            }
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    }
    .v-btn-icon {
        color: #666;
        i {
            font-size: 17px;
        }
        &:hover {
            color: #333;
        }
    }
    .form-control {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .has-2-controls> {
        .form-control {
            display: inline-block;
        }
        select {
            width: 55%;
        }
        input[type=number] {
            width: calc(45% - 5px);
            margin-left: 5px;
        }
    }
}