.v-selectable-list {
    min-width: 150px;
    max-height: 100%;
    padding: 0;
    h4 {
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
    >div {
        height: calc(100% - 30px);
        max-height: 250px;
        overflow: auto;
        border: 1px solid #ddd;
        .list-group {
            border: 0 none;
        }
    }
    &.grid {
        >div {
            overflow: initial;
        }
        .list-group {
            display: flex;
            flex-wrap: wrap;
            &:before,
            &:after {
                display: table;
                content: " ";
                clear: both;
            }
        }
    }
}

.v-selectable-list-item {
    padding: 0;
    margin: 0;
    border-width: 0 0 1px 0;
    &:last-child {
        border-bottom-width: 0;
    }
    &.active {
        &:not(:last-child) {
            border-bottom-color: white;
        }
    }
    &:hover {
        .v-sorting-handle {
            display: inline-block;
        }
    }
    label {
        display: block;
        margin: 0;
        padding: 5px 10px;
        cursor: pointer;
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        .fa {
            font-size: 15px;
            vertical-align: middle;
            line-height: inherit;
            margin-right: 10px;
        }
        .v-sorting-handle {
            float: right;
            margin-right: -5px;
            cursor: grab;
            display: none;
        }
    }
    &.grid-item {
        border-width: 1px;
        margin: -1px;
        flex: 1 1 auto;
        label {
            text-align: center;
        }
    }
    &.no-checkbox {
        .fa-check-square-o,
        .fa-square-o,
        .v-sorting-handle {
            display: none;
        }
    }
}