.v-datetime-picker {
    font-size: 12px;
    line-height: 18px;
    table {
        min-width: unset;
        margin: 0;
    }
    .rdtPicker {
        padding: 0;
        border: 0 none;
        margin: 0;
        width: auto;
        .rdtYears,
        .rdtMonths {
            table:last-child {
                border-top-width: 0;
                tr:first-child {
                    td {
                        border-top-width: 0;
                    }
                }
            }
        }
        .rdtDay {
            text-align: right;
            padding: 0 12px 0 8px;
        }
        .rdtMonth,
        .rdtYear,
        .rdtSwitch {
            text-align: center;
        }
        .rdtMonth,
        .rdtYear {
            width: 50px;
            height: 50px;
        }
        .rdtSwitch {
            width: auto;
        }
        .rdtPrev,
        .rdtNext {
            width: 30px;
            text-align: center;
            padding: 0;
            vertical-align: middle;
        }
    }
    .rdtTime {
        td {
            padding: 0;
            text-align: center;
        }
        .rdtCounter {
            width: 50px;
            height: auto;
        }
        .rdtCounterSeparator {
            line-height: 90px;
        }
        .rdtCount,
        .rdtBtn {
            height: 30px;
            line-height: 20px;
        }
        .rdtBtn {
            font-size: 20px;
            &:first-child {
                padding-top: 10px;
            }
            &:last-child {
                padding-bottom: 10px;
            }
        }
        .rdtCount {
            font-size: 15px;
            line-height: 30px;
            vertical-align: middle;
        }
    }
}